
		._1_ .tutorial-active {
			-webkit-animation: tutorial_active 1s infinite alternate;
			-moz-animation: tutorial_active 1s infinite alternate;
			-ms-animation: tutorial_active 1s infinite alternate;
			-o-animation: tutorial_active 1s infinite alternate;
			animation: tutorial_active 1s infinite alternate;
		}
	


			._64_ {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 90px;
				display: flex;
				color: #018da8;
				background-image: url(/static/img/panel6.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		

._3_ {
				width: 100%;
				color: #018da8;
				display: flex;
			
}


					._65_ {
						background-position: center;
						flex-shrink: 0;					
						background-image: url(/static/img/button1.png);
						width: 60px;
						height: 60px;
						background-size: 60px!important;
						position: absolute;
						left: 120px;
						top: 25px;
						z-index: 1;
					}
					body.isMobile ._65_ {
						left: 20px;
						top: 40px;
					}
					._65_ > .el {
						width: 100%;
						height: 100%;
					}
					._65_ > .el > input {
						display: none;
					}
					._65_ > .el > input[type="checkbox"] + label {
						position: absolute;						
						left: 0px;
						top: -2px;
						width: 100%;
						height: 100%;
						background-color: transparent;
						background-position: center;
						background-repeat: no-repeat;
						background-size: 34px;
						background-image: url(/static/img/male-icon-b.png);
						cursor: pointer;
					}
					._65_ > .el > input[type="checkbox"]:hover + label {
						opacity: 0.5;
					}
					._65_ > .el > input[type="checkbox"]:checked + label {
						background-image: url(/static/img/female-icon-b.png);
					}
				


					._66_ {
						padding: 0px;
						position: absolute;
						width: 100%;
						color: white;
						font-size: 14px;
					}
					._66_ > .currentTitle {
						width: 200px;
						height: 70px;
						margin-left: auto;
						margin-right: auto;
						text-align: center;
						color: #444;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					body.isMobile ._66_ > .currentTitle {
						width: 160px;
					}
				


					._67_ {
						position: absolute;
						width: 60px;
						right: 120px;
						top: 25px;
						z-index: 1;
					}
					body.isMobile ._67_ {
						right: 20px;
						top: 40px;
					}
					._67_ > button {
						border: none;
						background-image: url(/static/img/button1.png);
						width: 60px;
						height: 60px;
						background-size: 60px!important;
						font-size: 0px;
						padding: 0px;
						position: relative;
						background-color: transparent;
					}
					._67_ > button:before {
						content: '';
						background-repeat: no-repeat;
						background-image: url(/static/img/random-icon-b.png);
						background-size: 34px;
						background-position: center;
						width: 100%;
						height: 100%;
						position: absolute;
						top: -4px;
						left: 0px;
					}
					._67_ > button:hover:before {
						opacity: 0.5;
					}
				


			._68_ {
				height: 100%;
				padding: 90px 60px 10px 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: #018da8;
			}
			body.isMobile ._68_ {
				position: relative;
				padding: 75px 50px 0px 50px;
				height: 100%;
			}
			._68_:after {
				content: '';
				width: 100%;
				height: 100%;
			}
			._68_ > .profile-item {
				height: 80px;
				display: flex;
				border: 2px solid #018da8;
				margin: 4px 0px;
				position: relative;
			}
			._68_ > .profile-item:not(.position) {
				background-image: url(/static/img/panel2b.png);
				background-size: contain;
				background-repeat: no-repeat;
				height: 64px;
				background-position: center bottom;
				margin: 0px;
				color: white;
				border: none;
				width: 140px;
				font-size: 14px;
				flex-wrap: wrap;
			}
			._68_ > .profile-item > .icon {
				background-position: center;
				background-repeat: no-repeat;
				flex-shrink: 0;
				width: 40px;
				height: 40px;
				background-size: 30px;
				margin-left: 6px;
			}
			._68_ > .profile-item > label {
				width: 100%;
				font-size: 13px;
				line-height: 13px;
				padding-left: 10px;
			}		
			body.isMobile ._68_ > .profile-item > label {
				color: #412c17;
			}
			._68_ > .profile-item > span {
				width: 80px;
				margin-left: 10px;
				text-align: center;
				font-size: 16px;
				line-height: 40px;
			}
		


				._69_ {
					width: 100%;
					height: calc(100% - 90px)!important;
					flex-shrink: 0;
					position: relative;
					border: none!important;
				}
				body.isMobile ._69_ {
					height: auto!important;
				}
			


					._70_ {
						height: 100%;
						width: 100%;
						display: flex;
					}
					body.isMobile ._70_ {
						flex-wrap: wrap;
						height: auto;
					}
					._70_ > .list {
						display: flex;
						flex-wrap: wrap;
						font-size: 16px;
						position: relative;						
						margin: 5px;
						background-color: #d5ad51;
						border-radius: 5px;
						padding-top: 40px;
						padding-bottom: 10px;
						max-height: 240px;
					}
					body.isMobile ._70_ > .list {
						width: 100%;
					}
					._70_ > .list:after {
						content: '';
						height: 100%;
						width: 100%;
					}
					body.isMobile ._70_ > .list:after {
						display: none;
					}
					._70_ > .list > label {
						position: absolute;
						left: 0px;
						width: 100%;
						padding: 4px;						
						background-image: url(/static/img/panel5.png);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						text-align: center;
						color: white;
						top: 4px;
					}
					._70_ > .list > .item {
						font-size: 12px;
						padding: 0px 4px;
						margin: 2px 4px;
						border: none;
						background-color: transparent;
						color: white;
					}
				


						._71_ {
							width: 180px;
						}
						._71_ > .item.female, ._71_.female > .item:not(.female) {
							display: none;
						}
						._71_.female > .item.female {
							display: block;
						}
					


						._72_ {
							width: 100%;
							justify-content: flex-end;
							overflow: hidden;
						}
						._72_ > label {
							text-align: right;
							width: 100%;
						}
						._72_ > .item > span {
							border-radius: 50%;
							background-color: white;
							color: #d5ad51;
							margin-left: 4px;
							padding: 0px 6px;
						}
						._72_ > .item > span.own {
							padding: 0px 8px;
							background-size: contain;
							background-repeat: no-repeat;
							background-color: transparent;
							background-image: url(/static/img/button66.png);
						}
					


				._73_ > .icon {
					background-image: url(/static/img/exp-icon.png);
				}
				body.isMobile ._73_ {
					position: absolute;
					bottom: 10%;
					left: 0px;
				}
			


				._74_ > .icon {
					background-image: url(/static/img/power-icon.png);
				}
				body.isMobile ._74_ {
					position: absolute;
					bottom: 10%;
					right: 0px;
				}
			


				._75_ > .icon {
					background-image: url(/static/img/money-icon.png);
				}
				body.isMobile ._75_ {
					order: -3;
					margin: auto!important;
				}
			



